<% content_for :title do %>Add a new User<% end %>

<h1>New User</h1>

<fieldset>
<%= simple_form_for @user do |f| %>
	<div class="row">
  	<div class="large-6 columns">
  	<%= f.input :first_name, label_html: { class: 'large-3 columns inline'}, input_html: { class: 'large-9 columns'} %>
  	</div>
  	<div class="large-6 columns">
	  	<%= f.input :last_name, label_html: { class: 'large-3 columns inline'}, input_html: { class: 'large-9 columns'}%>
	  </div>
  </div>
  <div class="row">
  	<div class="large-6 columns">
  	<%= f.input :email, label_html: { class: 'large-3 columns inline'}, input_html: { class: 'large-9 columns'} %>
  	</div>
  	<div class="large-6 columns">
	  	<%= f.input :password, label_html: { class: 'large-3 columns inline'}, input_html: { class: 'large-9 columns'}%>
	  </div>	  
  </div>
  <%= f.button :submit %>
<% end %>
</fieldset>



 <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>